<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a href="#" class="brand-logo">Cursos</a>
            <ul id="nav-mobile" class="right hide-onmed-and-down">
                <li><a href="">Inicio</a></li>
                <li><a href="">Registro</a></li>
                <li><a href="">Entrar</a></li>
            </ul>
        </div>
    </nav>
    <div class="container"
        <div class="row">
            {% for cur in ventas%}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>{{id}}</p> 
                            <p>{{nombre}}</p>
                            <p>{{apellido}}</p> 
                            <p>{{cedula}} </p>
                            <p>{{producto}}</p>
                            <br></br>
                        </div>
                        <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>